html{
    font-size: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 4rem;
}

input, textarea, select, button {
    font-size: inherit;
    font: inherit
}

input {
    padding: 8px;
    font-size: inherit;
    border: 0;
}