:root{
    --color-blue : 0 72 217;
    --color-warning : 250 40 40;
    --color-success : 1 230 43;
    --color-gray : 117, 115, 114;
    --color-black : 15 11 11;
    --color-white : rgb(255 255 255);
}