@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-contenedor{
    padding: 16px;
}

.contenedor-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    background-color: rgb(var(--color-blue) / 0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}
.formulario_campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario_label {
    color: rgb(var(--color-gray));
}
.formulario_input {
    padding: 4rem;
    border-radius: 2rem;
}

.formulario_boton{
    padding: 16px;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
}
.formulario_boton_verde{
    background-color: rgb(var(--color-blue));
    color: var(--color-white);
}
.formulario_boton_verde:hover {
    background-color: rgba(var(--color-blue) / 0.8);
}