@import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-principal{
    display: flex;
    gap: 32px;
    background-color: aliceblue;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    height: 100%;
}
.formulario_campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formulario_label {
    color: #a8a3a2;
}

.formulario_boton{
    padding: 16px;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
}
.formulario_boton_verde{
    background-color: greenyellow;
    color: white;
}
.formulario_boton_verde:hover {
    background-color: green;
}