{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    {% block header_title %}
    {% endblock header_title %}
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">
                        <!-- Icono -->
                         {% include "components/icons/home.html" %}
                        Inicio
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {% block contenido %}
    {% endblock %}
    <footer>
        <a href=""></a>
    </footer>
</body>
</html>

