{% load static %}
<header class="header_mobile">
    <input type="checkbox" id="menu-toggle" class="menu_toggle">
    <label for="menu-toggle" class="menu_button">
        <div class="icon">
            {% include "components/icons/menu_hamburguer.html" %}
        </div>
    </label>
    <img class="logo" src="{% static '/img/logo.png' %}" alt="logo">

    <!-- Menú lateral -->
    <nav class="sidebar">
        <ul class="sidebar_list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Facturación</a></li>
            <li><a href="#">Usuarios</a></li>
        </ul>
    </nav>
</header>