{% extends 'invitado.html' %}

{% block header_title %} Inicio de sesión {% endblock header_title %}

{% block titulo %} Inicio de sesión {% endblock titulo %}

{% block descripcion %} Ingrese sus credenciales para ingresar al sistema {% endblock descripcion %}

{% block contenido %}
<form class="formulario" action="">
    <div class="formulario_campo">
        <label class="formulario_label" for="correo">
            Correo
        </label>
        <input class="formulario_input" type="text" id="correo" placeholder="sergio@hotmail.com">
    </div>
    <div class="formulario_campo">
        <label class="formulario_label" for="password">
            Contraseña
        </label>
        <input class="formulario_input" type="password" id="password" placeholder="********">
    </div>
    <div class="flex flex-col gap-4 w-max">
        <button class="formulario_boton formulario_boton_verde" type="submit">Inicio de sesión</button>
        <a class="link-text" type="submit" href="/olvide-password">¿Olvidaste la contraseña? Click Aqui</a>
    </div>
</form>
{% endblock contenido %}